<div class='main'>
    <div class='stock-price-info'>
        <div class='company'>
         <img class='logo' src={{companyData.logo}} alt="">
          <h2>{{companyData.name}}</h2>
        </div>
       
       <div>
        <h3>${{quoteData.c}}</h3>
        <p>${{quoteData.d}} ({{quoteData.dp}}%) Today</p>
         <p></p>    
        </div>
        <div class=''>
                <canvas id="myChart" width="400" height="250"></canvas>
             
        </div>
        <div>
            <div>
                
               <p>Shares: {{stockTrade.sharesNumber}}</p> 
               <p>Cost: {{stockTrade.tradeValue}}</p>
            </div>
        </div>

           <div class="comment-form"> 
               
                <div class="create-comment-div">
                    <h2>Create a new comment</h2>
                    <form class="comment-form" action="/stock/comments/{{companyData.ticker}}" method="post">
                        {{!-- Ticker: <input type="text" name="ticker" value="{{companyData.ticker}}" readonly> --}}
                        Comment: <textarea type="text" name="content"> </textarea>
                        <button type="submit"> Submit </button>
                    </form>
                </div>
               <div class="show-comment-div">
                   <h2 name='ticker'>Comments:</h2>
                    {{#each commentFromDb}}   
                            <hr>
                                <h4>{{this.content}}</h4>
                                <a href="{{this._id}}/update">Update</a>
                                <form action="{{this._id}}/delete" method="post">
                                <button>Delete</button>
                                </form>
                            <hr>
                    {{/each}} 
               </div>
                
           </div>
    </div>
  
    <div class='stock-buy-div'>
        <div class='buy-div'>
            <div class='ticker'>
            <h4 id='ticker'>{{companyData.ticker}}</h4>
            </div>
        <form method='POST'>
        <div class='buy-form'>
           
            <label class="form-label">
               Market Price
            </label>
             <input  class="form-control" type='number' id='marketPrice' name='entryPrice' value= {{quoteData.c}}> 
       
            <label class="form-label">
                Shares:
            </label>
                <input class="form-control" type='number' id='sharesNumber' name='sharesNumber' value='0' />
            <h4>Estimated Cost</h4>
            <h2 id='estimateValue' name='tradeValue'>$0</h2>
        </form>
            {{!-- <form class='button-div'> --}}
                <button onclick="calculatePrice()" id='calculateTotal'>Calculate Estimate</button>
            
        <div class='comments'>
           
            <form action='/stock/quote/{{companyData.ticker}}/sell' method='POST'>
                <div>
                    <button class="btn btn-success" id='buy-button' type='submit' formaction="/stock/quote/{{companyData.ticker}}">Buy </button>
                </div>
                <div class='button-div'>
                    <button class="btn btn-danger" id='buy-button' type='submit' formaction="/stock/quote/{{companyData.ticker}}/sell">Sell </button>
                </div>
            </form>
            
                
                {{#if errorMessage}}
                <div class='error-div'>
                    <p class="error-message">{{errorMessage}}</p>
                </div>
               
                {{/if}}

            
             </div>  
        </form> 
       
        <div class='button-div'> 
        <button class="btn btn-secondary" onclick="calculatePrice()" id='calculateTotal'>Calculate Estimate</button>
         <p class='buying-text'>Buying Power Available: ${{accountInfo.buyingPower}} </p>
        </div>

        </div>
            
           
        </div>
    </div>
</div>
