<div class='main'>
    <div class='stock-price-info'>
        <div class='company'>
         <img class='logo' src={{companyData.logo}} alt="">
          <h2>{{companyData.name}}</h2>
        </div>
        <div>
            {{#if errorMessage}}
            <p>Error</p>
            <p class="error">{{errorMessage}}</p>
            {{/if}}
        </div>
       <div>
        <h3>${{quoteData.c}}</h3>
        <p>${{quoteData.d}} ({{quoteData.dp}}%) Today</p>
         <p></p>    
        </div>
        <div class=''>
                <canvas id="myChart" width="400" height="250"></canvas>
             
        </div>
        <div>
            <div>
                
               <p>Shares: {{stockTrade.sharesNumber}}</p> 
               <p>Cost: {{stockTrade.tradeValue}}</p>
            </div>
        </div>
           <div class="comment-form">
            <h2>Create a new comment</h2>
                <form action="/post-create" method="POST">
                    <textarea type="text" name="content"> </textarea>
                <button type="submit"> Submit </button>
            </form>
        </div>
    </div>
  
    <div class='stock-buy-div'>
        <div class='buy-div'>
            <div class='ticker'>
            <h4 id='ticker'>{{companyData.ticker}}</h4>
            </div>
        <form method='POST'>
        <div class='buy-form'>
           
            <label class="form-label">
               Market Price
            </label>
             <input  class="form-control" type='number' id='marketPrice' name='entryPrice' value= {{quoteData.c}}> 
       
            <label class="form-label">
                Shares:
            </label>
                <input class="form-control" type='number' id='sharesNumber' name='sharesNumber' value='0' />
            <h4>Estimated Cost</h4>
            <h2 id='estimateValue' name='tradeValue'>$0</h2>
            <div class='button-div'>

                <button class="btn btn-success" id='buy-button' type='submit' formaction="/stock/quote/{{companyData.ticker}}">Buy </button>
            </div>
            <form action='/stock/quote/{{companyData.ticker}}/sell' method='POST'>
                <div class='button-div'>
                    <button class="btn btn-danger" id='buy-button' type='submit' formaction="/stock/quote/{{companyData.ticker}}/sell">Sell </button>
                </div>
               
            </form>
     
             </div>  
        </form> 
       
        <div class='button-div'> 
        <button class="btn btn-secondary" onclick="calculatePrice()" id='calculateTotal'>Calculate Estimate</button>
         <p class='buying-text'>Buying Power Available: ${{accountInfo.buyingPower}} </p>
        </div>

        </div>
        
     


    </div>
</div>
