<div class='main'>
    <div class='stock-price-info'>
        <div class='company'>
         <img class='logo' src={{companyData.logo}} alt="">
          <h2>{{companyData.name}}</h2>
        </div>
       
       <div>
            <h3>${{quoteData.c}}</h3>
            <p>${{quoteData.d}} ({{quoteData.dp}}%) Today</p>
            <p></p>    
        </div>
        <div class='graph'>
                <canvas id="myChart" width="400" height="250"></canvas>
        </div>
        <div>
            <div>
               <p>Shares: {{stockTrade.sharesNumber}}</p> 
               <p>Cost: {{stockTrade.tradeValue}}</p>
            </div>
        </div>
        <div class="comment-form">
                     <hr class='line'>
            <div class="comment-div">
                <h4>Add Comment</h4>
                <form class="comment-form" action="/stock/comments/{{companyData.ticker}}" method="post">
                    <textarea class="form-control" type="text" name="content"> </textarea>
                    <div class='comment-button-div'>
                          <button class="btn btn-danger" id='submitComment' type='submit'> Submit </button>
                    </div>
                  
                </form>
            </div>
            <h4 name='ticker'>Comments:</h4>
                        <hr class='line'>
                {{#each commentFromDb}}   
                            <div class='user-post'> 
                                <p class='username'>{{userName}}</p>
                                <p class='time'>({{postTime}})</p>
                            </div>
                    
                            <p class='comment-content'>{{this.content}}</p>

                           {{#if this.userCanEdit}}
                            <div class="action-button-div">
                                <a class="btn btn-warning" href="{{this._id}}/update" role="button" id='action-button'><i class="material-icons">create</i></a>
                                <form action="{{this._id}}/delete" method="post">
                                    <button type='submit' class="btn btn-danger"><i class="material-icons">delete</i></button>
                                </form>
                            </div>
                            {{/if}}
                {{/each}}
        </div>
    </div>
    
  
    <div class='stock-buy-div'>
        <div class='buy-div'>

            <div class='ticker'>
                <h4 id='ticker'>{{companyData.ticker}}</h4>
             
                {{#if favStock}}
               
                <form action="/dashboard/remove/{{favStock._id}}" method="post">
                <button type="submit" class="btn btn-primary">Remove To Watchlist</button>
            </form>
                {{else}}
             
                    <form action="/dashboard/add/{{companyData.ticker}}" method="post">
                        <button type="submit" class="btn btn-primary">Add from Watchlist</button>
                    </form>
                {{/if}}
            </div>
            <form method='POST'>
                <div class='buy-form'>
    
                    <label class="form-label">
                        Market Price
                    </label>
                    <input class="form-control" type='number' id='marketPrice' name='entryPrice' value={{quoteData.c}}>
    
                    <label class="form-label">
                        Shares:
                    </label>
                    <input class="form-control" type='number' id='sharesNumber' name='sharesNumber' value='0' />
                    <h4>Estimated Cost</h4>
                    <h2 id='estimateValue' name='tradeValue'>$0</h2>
                    <div class='button-div'>
    
                        <button class="btn btn-success" id='buy-button' type='submit'
                            formaction="/stock/quote/{{companyData.ticker}}">Buy </button>
                    </div>
                    <form action='/stock/quote/{{companyData.ticker}}/sell' method='POST'>
                        <div class='button-div'>
                            <button class="btn btn-danger" id='buy-button' type='submit'
                                formaction="/stock/quote/{{companyData.ticker}}/sell">Sell </button>
                        </div>
    
                    </form>

    
    
                    {{#if errorMessage}}
                    <div class='error-div'>
                        <p class="error-message">{{errorMessage}}</p>
                    </div>
    
                    {{/if}}
    
    
                </div>
            </form>
    
            <div class='button-div'>
                <button class="btn btn-secondary" onclick="calculatePrice()" id='calculateTotal'>Calculate Estimate</button>
                <p class='buying-text'>Buying Power Available: ${{accountInfo.buyingPower}} </p>
            </div>
    
        </div>
    </div>
</div>