<div class='main'>
     <div class='stock-price-info'>
        <div class='accountBalance'>
            <h2 class='balance'>Investing</h2>
             <h2 class='balance'>${{accountInfo.accountBalance}}</h2>
        </div>
    <div class='chart'>
             <canvas id="myChart" width="400" height="250"></canvas>
    </div>
    <hr class='line'>
    <div class='buying-power'>
 <div>
        <p class='buying'>Buying Power</p>
    </div>
    <div>
       <p class='buying'>${{accountInfo.buyingPower}}</p>
    </div>
    </div>
    <hr class='line'>
     <div class='news'> 
        <div>
            <h3>News</h3>
            {{#each news}}
            <div>
                <div>
                <p class='buying'>{{source}}</p>
                </div>
                 <div>
                     <div>
                        <p>{{summary}}</p>
                     </div>
                 
                     <div>
                         <img src={{image}} alt="" width="200px" height="100px">
                     </div>
                 </div>

                <hr class='line'>
            </div>
               
            {{/each}}
        </div>
    </div>
    </div>


    <div class='stock-buy-div'>
          <div class='buy-div'>
             <h3>Stocks</h3>

          {{#if trade}}
               {{#each trade}}
          <div> 
            <p><a href="/stock/quote?symbol={{ticker}}" rel="noopener noreferrer" class='stock-link'>{{ticker}}</a>- {{sharesNumber}}(shares)</p>
            <p>${{tradeValue}}</p>
          </div>
         <hr class='line'>

            
          {{/each}}
            {{else}}
                         <p> You don't own any stocks</p>
          {{/if}}
   


     <h3>Watch List</h3>
    
           {{!-- {{#if watchList}} --}}
          {{#each arrOfObj}}
            <div> 
              <p><a href="/stock/quote?symbol={{ticker}}" rel="noopener noreferrer" class='stock-link'>{{ticker}}</a>- </p>
              <p>Current Price: {{price}}</p>
              
              {{!-- <p>${{tradeValue}}</p> --}}
            </div>
            <hr class='line'>
          {{/each}}
            {{!-- {{else}}
            <p> You are not watching any stocks</p>
          {{/if}} --}}
   
    </div>
  </div>
</div>
